.habits-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #001f3f;
  color: white;
  font-family: 'Arial', sans-serif;
}

.scrollable-table {
  max-height: 400px;
  overflow-y: auto;
  width: 80%;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid white;
  padding: 10px;
  text-align: center;
}

th {
  font-size: 1.2rem;
}

input[type="checkbox"] {
  transform: scale(1.5);
}


.group1 {
  background-color: #047b20; 
}

.group2 {
  background-color: #9d8e0d; 
}

.group3 {
  background-color: #0857bf; 
}

.group4 {
  background-color: #b60303;
}

.group5 {
  background-color: #640391; 
}

.group6 {
  background-color: #ffe4e1;
}
